<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-5">
      <%= form_with(model: @info, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 6 %>
        </div>
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-7">
      <%= render 'infos/infos', infos: @infos %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ようこそMake-infoへ！</h1>
      <%= link_to '新規登録する', signup_path, class: 'btn btn-lg btn-success' %>
    </div>
  </div>
<% end %>